* {
  display: border-box;
  margin: 0;
  padding: 0;
}

.modal-login {
  position: absolute;
  right: 40%;
  top: 50%;
  padding: 1rem;
  line-height: 2.5;
  background-color: beige;
  border-radius: 1rem;
}
